
.DS_Store
.gitignore
.idea/
**/lib
**/classes/**
**/.classpath
**/.project
*.class
**/target
data/
idea-module-files/
log/
roles/
temp/
/bin/platform/
/bin/ext-*
/bin/ext-platform-optional/ldap/
/bin/platform/ext/hac/
/bin/platform/ext/impex/
/bin/platform/ext/catalog/
/bin/platform/ext/commons/
/bin/ext-cockpit/mcc/
/bin/platform/ext/advancedsavedquery/
/bin/ext-platform-optional/mediaconversion/
/bin/ext-cockpit/admincockpit/
/bin/platform/ext/core/
/bin/ext-backoffice/backoffice/
/bin/platform/ext/deliveryzone/
/bin/platform/ext/maintenanceweb/
/bin/platform/ext/paymentstandard/
/bin/platform/ext/comments/
/bin/platform/ext/europe1/
/bin/ext-cockpit/cockpit/
/bin/platform/ext/mediaweb/
/bin/ext-platform-optional/hmc/
/bin/ext-platform-optional/platformhmc/
/bin/custom/cuppy/.pmd
/bin/custom/cuppy/.springBeans
/bin/custom/cuppy/ruleset.xml
/bin/custom/cuppy/classes/
/bin/custom/cuppy/eclipsebin/
/bin/custom/cuppy/.project
/bin/custom/cuppy/.externalToolBuilders/
/bin/custom/cuppy/.classpath
/bin/custom/cuppy/extensioninfo.xsd
/bin/custom/cuppy/platformhome.properties
/bin/custom/cuppy/.settings/
/bin/custom/cuppytrail/resources/beans.xsd
/bin/custom/cuppytrail/resources/items.xsd
/bin/custom/cuppytrail/.pmd
/bin/custom/cuppytrail/.classpath
/bin/custom/cuppytrail/.externalToolBuilders/
/bin/custom/cuppytrail/classes/
/bin/custom/cuppytrail/.springBeans
/bin/custom/cuppytrail/platformhome.properties
/bin/custom/cuppytrail/eclipsebin/
/bin/custom/cuppytrail/ruleset.xml
/bin/custom/cuppytrail/extensioninfo.xsd
/bin/custom/cuppytrail/.settings/
/bin/custom/cuppytrail/.project
/bin/custom/cuppytrailhmc/eclipsebin/
/bin/custom/cuppytrailhmc/.externalToolBuilders/
/bin/custom/cuppytrailhmc/.pmd
/bin/custom/cuppytrailhmc/extensioninfo.xsd
/bin/custom/cuppytrailhmc/.classpath
/bin/custom/cuppytrailhmc/.project
/bin/custom/cuppytrailhmc/.springBeans
/bin/custom/cuppytrailhmc/platformhome.properties
/bin/custom/cuppytrailhmc/classes/
/bin/custom/cuppytrailhmc/.settings/
/bin/custom/cuppytrailhmc/ruleset.xml
